$darkBgColor: #080e16;
$dark_pColor: #1c222b;
$darkSColor: #08101c; 
$dark_textColor: #C4CFDE;
$dark_btnHoverBG: #00ca87;
body.dark{
  // dark background here
  background: url(../img/main-bg-dark.webp);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  // dark header menu area here
  #header_area{
    #hader_nav_area{
      background: url(../img/dark-header-bg.webp);
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      box-shadow: 0 0 10px 0 rgba(255, 255, 255, 0.041);
      ul{
        li{
          a{
            color: $whColor !important;
            &:hover{
              color: $pColor !important;
            }
          }
          .sub_menu_box{
            background-color: $darkBgColor !important;
            box-shadow: 0 0 10px 0 rgba(255, 255, 255, 0.171) !important;
          }
        }
      }
      .header_menu_remove{
        background-color: rgba(255, 255, 255, 0.103);
      }
      #header_nav_menu{
        background-color: $darkBgColor !important;
        #mobile_menu_social{
          ul{
            li{
              a{
                background-color: $whColor;
                color: $darkBgColor !important;
                &:hover{
                  background-color: $pColor;
                  color: $whColor !important;
                }
              }
            }
          }
        }

      }
      @media screen and (min-width: 992px) {
        #header_nav_menu{
          background-color: transparent !important;
        }
      }
    }
    #hader_nav_area{
      .my_btn{
        padding: 3px 10px !important;
        border: none !important;
        &::after{
          top: 0px;
          width: 0%;
          height: 100%;
          background-color:  $dark_btnHoverBG !important;
        }
        &::before{
          top: 0px;
          background-color:  $dark_btnHoverBG !important;
          width: 0%;
          height: 100%;
        }
        &:hover{
          &::after{
            width: 50%;
          }
          &::before{
            width: 50%;
          }
        }
      }
    }
    
  }
  // dark button style here
  .my_btn{
    background-color: $pColor;
    padding: 7px 15px !important;
    transition: all 0.5s !important;
    text-decoration: none;
    border-radius: 2px;
    position: relative;
    z-index: 0;
    overflow: hidden;
    cursor: pointer;
    color: $whColor;
    &::after{
        display: block;
        content: "";
        position: absolute;
        width: 0%;
        height: 100%;
        left: 0px;
        top: 0px;
        background-color: $dark_btnHoverBG;
        z-index: -1;
        transition: all 0.5s;
    }
    &::before{
        content: "";
        position: absolute;
        width: 0%;
        height: 100%;
        right: 0px;
        top: 0px;
        background-color: $dark_btnHoverBG;
        z-index: -1;
        transition: all 0.5s;
    }
    &:hover{
        &::after{
            width: 50%;
        }
        &::before{
            width: 50%;
        }
    }
}
// hero area dark mode css here
.hero_info_area{
  h5{
    color: $dark_textColor !important;
  }
  h2{
    color: $whColor !important;
  }
  h3{
    color: $dark_textColor !important;
  }
  .home_hero{
    span{
      color: $whColor !important;
    }
    .service_text{
      color: $whColor;
    }
  }
  .button_box{
    a{
      &:nth-child(2){
        background-color: $pColor !important;
        border: 1px solid #0000000c;
        box-shadow: -5px 5px 0px 0px $sColor !important;
        &:hover{
        background-color: $dark_pColor !important;
        border: 1px solid #0000000c;
        box-shadow: 5px 5px 0px 0px $pColor !important;
        }
      }
    }
  }
  .fancy_text{
    position: relative;
    overflow: hidden;
    display: inline-block;
    padding-right: 10%;
    font-family: 'Prosto One', cursive;
    color: $pColor !important;
    &::after{
      content: "";
      position: absolute;
      width: 100%;
      height: 90%;
      top: 5%;
      background-color: #182330 !important;
      right: 0px;
      border-left: 3px solid $pColor;
      animation: 1.5s steps(20) fancy_text_animate alternate infinite;
    }
  }
  p{
    color: $dark_textColor !important;
  }
}

  // service area
  #services_area{
    .service_box{
      background-color: $dark_pColor;
      box-shadow: 10px 10px 0px 0px $pColor !important;
      .service_logo{
        color: $pColor;
      }
      .service_text{
        color: $dark_textColor !important;
      }
      &:hover{
        background-color: $pColor;
        box-shadow: 15px 15px 0px 0px $dark_pColor !important;
        .service_text{
          color: $dark_textColor !important;
        }
        .service_logo{
          color: $dark_pColor !important;
        }
        .service_text{
          color: $whColor!important;
        }
      }
    }
  }

// portfolio area
#portfolio_area{
  .portfolio_tab_area{
    button.btn{
      background-color: $darkSColor;
      color: $dark_textColor;
      &:hover{
        background-color: $pColor;
      }
    }
    button.active{
      background-color: $pColor;
    }
  }
  .portfolio_info{
    background: linear-gradient(180deg, $dark_pColor, $dark_pColor) !important;
    .portflio_title{
      color: $whColor;
    }
  }
  .portfio_box{
    background-color: $dark_pColor !important;
    .portfolio_info{
      button{
        color: #C4CFDE;
        span{
          color: $whColor;
        }
        &:hover{
          color: $pColor;
        }
      }
    }

  }
}


// works experience ara
#experience_area{
  .works_skill_box{
    li{
      color: $dark_textColor !important;
      .counter_value{
        &::before{
          color: $dark_textColor !important;
        }
      }
    }
  }
}
// testimonial area here
#testimonal_area{
  .testimonail_box{
    background-color: $dark_pColor !important;
    box-shadow: -10px 10px 0px 0px $pColor !important;
    border: 1px solid rgba(255, 255, 255, 0.116) !important;
    .testimonail_description{
      color: $dark_textColor !important;
    }
    &:hover{
      box-shadow: 10px 10px 0px 0px $sColor !important;
    }
  }
}

// contact me area css here
#contact_me_area{
  .contact_form{
    box-shadow: 0 0 10px 0 rgba(197, 191, 191, 0.123);
    label{
      color: $dark_textColor;
    }
    input, textarea{
      background-color: $darkSColor;
      color: $dark_textColor;
    }
  }
}













  
}