// website preloader animation css here
.preloader{
  position: fixed;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: $preloader_bg;
  transform: scale(1);
  opacity: 1;
  transition: all 0.5s;
  z-index: 999999999;
  img{
    width: 50px;
    animation: 6s preloader_animation infinite linear;
  }
  @keyframes preloader_animation {
    to{
      transform: rotate(-360deg);
    }
  }
}
.preloaded{
  display: none !important;
}