
// font-family: 'Montserrat', sans-serif;
// font-family: 'Poppins', sans-serif;

$preloader_bg: #FFFFFF;
$pColor: #00c18b;
$sColor: #141c28;
$bgColor: #ffffff;
$textColor: #13161a;
$linkHoverColor: #00aa7d;
$whColor: #fff;


// font family

$pFont: 'Poppins', sans-serif;
$sFont: 'Montserrat', sans-serif;

