
// font-family: 'Montserrat', sans-serif;
// font-family: 'Poppins', sans-serif;

$preloader_bg: #141c28;
$pColor: #018fd1;
$sColor: #141c28;
$bgColor: #ffffff;
$textColor: #13161a;
$linkHoverColor: #018fd1;
$whColor: #fff;
$btnHoverBG: #03326E;


// font family

$pFont: 'Poppins', sans-serif;
$sFont: 'Montserrat', sans-serif;

